*{
 background-color: rgb(255, 255, 0);
}
h1{
    background-color: rgb(0, 0, 0);
color: crimson;

}
h2{
    color: darkviolet;
    background-color: black;
    
}
h3{
    color: rgba(136, 127, 255, 0.865);
    background-color: black;
}
ul>li{
    color: rgb(255, 0, 102);
    background-color: rgb(0, 0, 0);
   
}   


h1{


    font-weight: 300;
    text-indent: 20%;
    text-shadow: 5px 1px 5px red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-transform: capitalize;
    text-decoration-color: rgb(0, 225, 255);
    font-size: 32px;
    font-style: italic;
    letter-spacing: 50px;
    word-spacing: 50px;
    text-align: justify;
    vertical-align: middle;
}
